* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Amaranth', serif;
	background: #FFEFD5;
	background-size: cover;
	background-attachment: fixed;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #FFFFFF;
}

header {
	width: 100%;
	background-color: white;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


header .arriba {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*header .arriba .lema  h3{
	font-size: 30px
}

header .arriba .numero {
	font-size: 20px;
}
*/
header .logo {
	width: 30%;
	display: flex;

	flex-direction: row-reverse;
}

header img {

	margin-left: 25%;
	padding: 10px 30px;
}


header .menu {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 5px 0;
	background: #F0F8FF;
}


header .menu a {
	color: #000;
	background: #F0F8FF;
	text-decoration: none;
	margin-right: 20px;
	font-size: 22px;

}

header .menu a:hover {
	text-decoration: underline;
}

.main {
	width: 100%;
    font-family: Pacifico;
  
}

section.main div p{
    text-align: center;
    text-decoration-style: solid;
 font-size: 30px;
    color: #A800B0;    
}

section.main  table{
	
	margin-left: 8%;
	padding: 5px;
	margin-bottom: 100px;
}
section.main  table tr td{
	padding: 7px;
}
section.main  table tr td img{
width: 150px;
height: 150px;
border-radius: 9px;
border-style: solid;
}

section div.cat{
	margin-left: 2%;
 margin-top: 10px;
 margin-bottom: 100px;
	text-align: center;
	height: 800px;
}

.carrusel {
	width: 95%;
	max-height: 800px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 30px;

}
.carrusel p {
	color: #F9F3FA;
	font-size: 30px;
	border-bottom: 1px solid #F9F3FA;
}
.carrusel ul {
	width: 1100%;
	padding: 0;
	display: flex;
	flex-direction: row;

	animation: cambio 47s infinite;
	animation-direction: alternate;
}

.carrusel li {
	width: 100%;
	list-style: none;
	margin: auto;
}

.carrusel ul li img.imgca{
	width: 100%


}
.carrusel img {
	width: 100%;
	max-width: 800px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	5% {margin-left: 0;}

	7% {margin-left: -100%;}
	13% {margin-left: -100%;}

	15% {margin-left: -200%;}
	23% {margin-left: -200%;}

	25% {margin-left: -300%;}
	33% {margin-left: -300%;}

	35% {margin-left: -400%;}
	43% {margin-left: -400%;}
    
    45% {margin-left: -500;}
	53% {margin-left: -500;}

	55% {margin-left: -600%;}
	63% {margin-left: -600%;}

	65% {margin-left: -700%;}
	73% {margin-left: -700%;}

	75% {margin-left: -800%;}
    83% {margin-left: -800%;}

	85% {margin-left: -900%;}
	93% {margin-left: -900%;}
    
    95% {margin-left: -1000%;}
	100% {margin-left: -1000%;}

	}

.cuadros {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.cuadro {
	width: 32%;
	height: 300px;
	margin: 20px 0px 20px 10px;
	border: 1px solid #F9F3FA;
}

.titulos {
	font-size: 22px;
	color: #F9F3FA;
	width: 100%;
	text-align: center;
	padding: 20px 0;	
}


.turquesa {
	background: #4058ED;
}

.naranja {
	background: #E86730;
}

.morado {
	background: #00B851/*rgba(171,64,237,0.5)*/;
}

.cuadro .contenido {
	width: 95%;
	padding: 20px 20px;
	font-size: 18px;
}

 .factura {
	background: url('../media/factura.png') #D9D9DB;
}

.cuadro .contenido input[type="submit"]{
	padding: 5px;
	border-radius: 3px;
	background: #4058ED;
	color: #fff;
}

.proyecto {
	font-size: 18px;
	text-align: center;
	background: url('../media/proyecto_dos.png') #D9D9DB;
}


.distribuidor {
	background: url('../media/distribuidor.png') #D9D9DB;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.lateral {
	width: 20%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.lateral img {
	width: 100%;
}

.lateral .acceso {
	width: 100%;
	text-align: center;
	border: 1px solid #F9F3FA;
	margin: 20px 2px 30px 0;
	background: #fff;
}

.lateral .titulo_acceso {
	padding-bottom: 5px;
	margin-bottom: 20px;
	color: #F9F3FA;
}

.lateral .aviso {
	color: #444;
	text-align: right;
	font-size: 10px;
	margin-bottom: 5px;
}

.lateral .acceso input[type="submit"]{
	padding: 5px;
	margin: 5px;
	border-radius: 3px;
	background: #4058ED;
	color: #fff;
}

.lateral .acceso input[type="text"],
.lateral .acceso input[type="password"] {
	width: 80%;
}

.lateral .producto {
	background: #fff;
	margin: 5px 0 10px 0;
	padding-bottom: 10px;
}

.producto .promo {
	font-size: 18px;
	padding: 5px;
	color: #7b527e;
}

.videos {
	margin: 5px 0 10px 0;
	background: #fff;
	padding-left: 10px;
}

.videos .titulo_video{
	font-size: 20px;
	color: #D12A2A;
}

.videos .logo_yt {
	width: 32px;
	height: 32px;
	background: url('../media/yt_negro.png');
	background-size: 100%;
	position: relative;
	left: 40%;
}

.videos .logo_yt:hover {
	width: 32px;
	height: 32px;
	background: url('../media/yt_rojo.png');
	background-size: 100%;
	position: relative;
	left: 40%;
}

footer {
	width: 100%;
	background: #12181F;
	font-size: 18px;
	color: #fff;
	display: flex;
	text-align: center;
}

footer .privacidad {
	width: 60%;
}



footer .redes {
	width: 40%;
	font-size: 14px;
}

@media screen and (max-width: 1010px) {
	header .menu a {
		font-size: 18px;
	}
}

@media screen and (max-width: 960px) {

	.lateral .acceso{
		margin: 0;
	}
}

@media screen and (max-width: 890px){

	.main {
		width: 100%;
	}

	.proyecto {
		margin-right: 10px;
	}
	.lateral {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}

	.lateral .acceso {
		width: 30%;
		height: 200px;
		margin-left: 10px;
	}

	.lateral .producto {
		width: 30%;
		height: 200px;
	}

	.lateral .producto img {
		width: 65%;
	}

	.lateral .videos {
		width: 30%;
		height: 150px;
		margin-right: 10px;
	}

	.videos span {
		font-size: 18px;
	}

	.videos .logo_yt {
		width: 64px;
		height: 64px;
	}

	.videos .logo_yt:hover {
		width: 64px;
		height: 64px;
	}

	.lateral .acceso {
		height: 220px;
		margin-bottom: 10px;
	}

}

@media screen and (max-width: 790px) {
	body {
		background: #000;
	}

	header {
		flex-direction: column;
		text-align: center;
	}

	header .arriba {
		order: 10;
		width: 100%;
		flex-direction: column;
	}

	header .logo {
		order: 5;
		width: 100%;
		position: relative;
		left: 25%;
		flex-direction: row;
	}

	.lateral .acceso {
		height: 230px;
		margin-bottom: 10px;
	}

	footer {
		flex-direction: column-reverse;
	}

	footer .privacidad {
		width: 100%;
	}

	footer .redes {
		width: 100%;
		font-size: 18px;
	}

}

@media screen and (max-width: 660px) {
	header .logo {
		text-align: center;
		position: relative;
		left: 0%;
		flex-direction: row;
	}

	.lateral {
		flex-direction: column;
		justify-content: flex-start;
		text-align: center;
	}

	.lateral .acceso {
		width: 80%;
		height: 200px;
		margin: 10px auto;
	}
	.lateral .producto {
		width: 80%;
		margin: 10px auto;
	}

	.lateral .producto img {
		width: 30%;
	}
	.lateral .videos {
		width: 70%;
		margin: 0 auto;
	}

	.cuadros {
		flex-direction: column;
	}

	.cuadro {
		width: 80%;
		margin: 5px auto;
	}

}